<%= @user.name %>
<%= @user.introduction %>
<%= link_to 'edit', edit_user_path(@user) %>

<body>


    <h3>Web Speech APIサンプル</h3>


    <button id="btn">音声認識開始</button>
    <div id="content"></div>

    <script src="app.js"></script>


</body>