/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


$main-color: rgb(240,240,240);
$app-color: #9e9e9e;/*#ACDBC9*/
$font-color: #333;
$auth: #333;/*7EA6E0*/
$auth-action: #333;/*#A9C4EB*/
$pet: #333;
$reco: #FFA530;
$reco-action: #F9BE78;
$topic: #f6ae5f;
$topic-action: #f3bc80;

$ja-font: 'M PLUS Rounded 1c', sans-serif;
$home-font: 'inherit','helvetica',sans-serif;

@mixin button {
  border: none;
  color: #fff;
  padding: 14px 48px;
}

@mixin circ-button {
  @include button;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@mixin sq-button {
  @include button;
  border-radius: 3px;
}

@mixin close-button {
  color:rgb(216, 215, 215);
    &:hover {
    color:rgb(219, 216, 216);
    }
  }

@mixin box {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
  background-color: white;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0;
  min-height: 600px;
}


 .body-wrap {
    background: #fff;

    #mv {
      background-image: image-url("2talkgirl.jpg");
      width: 100%;
      height: 650px;
      background-size: cover;
      background-position: center;

      .key-visual {
        padding-top: 200px;
      }

      .catch {
        color: #fff;
        font-weight: 1000;
        // font-family: $home-font;
      }

      .head-text {
        color: #fff;
        font-size: 18px;
        // font-family: $home-font;
      }

    }
 }

 /*ヘッダー*/
 .navbar-toggle {
  text-align: center;
  margin: -15px 0;
  border: none;
  .icon-bar {
            margin: -15px 0;
            width:50px;
            height:1px;
      }
}


/*about*/
#sv {
    background-image: image-url("2talkcafe.jpg");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 90% 15%;

    .about-visual {
      padding-top: 150px;
    }

    // .catch {
    //   color: #fff;
    //   font-weight: 1000;
    //   font-family: $home-font;
    // }

    // .head-text {
    //   color: #fff;
    //   font-size: 35px;
    //   margin: 0;
    //   font-family: $home-font;
    // //   text-shadow: 1px 2px 3px #ccc;
    // }

  }

  .service-content {
    text-align: center; /*中央寄せ*/
  }


//   .service-content:after{/*疑似要素*/
//     content: '';
//     display: block; /*改行するように*/
//     width: 30px;
//     height: 2px;
//     background: $app-color;
//     margin: 20px auto 0 auto;
//     box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);

//   }
  .about-img {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
  }

//   .about-heading{
//     font-weight: bold;
//     border-left: 2px solid $app-color;
//   }

  .about-text {
    line-height: 200%;
  }

/*認証*/
.form-content{
  padding: 50px 0;

  .auth-form {
    background-color: white;
    border-radius: 5px;
    padding: 60px 0;
    text-align: center;

    .form-title {
      color: $auth;
      margin-bottom: 30px;
    }

    .form-btn {
      @include circ-button;
      background-color: $auth;
      margin-top: 20px;

      &:hover {
        background-color: $auth-action;
      }
    }
  }
}

.pet-form {
  @include box;

  .btn-close {
    @include close-button
  }

  .form-area{
    padding: 50px 20px;
  }

  .form-title {
    color: $pet;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .btn-pet {
    @include circ-button;
    background-color: $pet;
    margin-top: 30px;

    &:hover {
      background-color: transparent;
      border: 2px solid $pet;
      color: $pet;
    }
  }
}



/* ---- user ----- */
/*-- index--*/
#ui {
  background-image: image-url("users.jpg");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;

  .about-visual {
    padding-top: 150px;
  }

  // .catch {
  //   color: #fff;
  //   font-weight: 1000;
  //   font-family: $home-font;
  // }

  // .head-text {
  //   color: #fff;
  //   font-size: 35px;
  //   margin: 0;
  //   font-family: $home-font;
  // //   text-shadow: 1px 2px 3px #ccc;
  // }

}

/*-- show --*/
.user-content {
  @include box;
  padding: 50px;

  .user-info {
    @include box;
    padding: 50px;
  }
}
#us {
  background-image: image-url("profile.jpg");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;

  .about-visual {
    padding-top: 150px;
  }
}

/* ---- post ----- */
/*-- index--*/
#si {
  background-image: image-url("book.jpg");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;

  .about-visual {
    padding-top: 150px;
  }

  // .catch {
    //   color: #fff;
    //   font-weight: 1000;
    //   font-family: $home-font;
    // }
    // .head-text {
      //   color: #fff;
      //   font-size: 35px;
      //   margin: 0;
      //   font-family: $home-font;
      // //   text-shadow: 1px 2px 3px #ccc;
      // }

    }
/*-- new--*/
#pv {
  background-image: image-url("new.jpg");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;

  .about-visual {
    padding-top: 150px;
  }
}

.pet-form {
  @include box;

  .btn-close {
    @include close-button
  }

  .form-area{
    padding: 50px 20px;
  }

  .form-title {
    color: $pet;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .btn-pet {
    @include circ-button;
    background-color: $pet;
    margin-top: 30px;

    &:hover {
      background-color: transparent;
      border: 2px solid $pet;
      color: $pet;
    }
  }
}

#ps {
  background-image: image-url("show.jpg");
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 90% 15%;
  
  .about-visual {
    padding-top: 150px;
      
  }
}

.pet-form {
  @include box;

  .btn-close {
    @include close-button
  }

  .form-area{
    padding: 50px 20px;
  }

  .form-title {
    color: $pet;
    font-weight: bold;
    margin-bottom: 50px;
  }
 

  .btn-pet {
    @include circ-button;
    background-color: $pet;
    margin-top: 30px;

    &:hover {
      background-color: transparent;
      border: 2px solid $pet;
      color: $pet;
    }
  }
}